<!-- =========    START PRELOADING    ======== -->
<div class="loading">
	<div class="sk-folding-cube">
		<div class="sk-cube1 sk-cube"></div>
		<div class="sk-cube2 sk-cube"></div>
		<div class="sk-cube4 sk-cube"></div>
		<div class="sk-cube3 sk-cube"></div>
	</div>
</div>
<!-- =========    END PRELOADING    ======== -->

<!-- =========    START CONTAINER    ======== -->
<div class="container">
	<div class="row">
		<div class="main-page-content">
			<div class="main-page-s">
				<!-- =========    COLLECT THE NAV LINKS AND OTHER CONTENT FOR TOGGLING    ======== -->
				<div class="slide-nav-btn">
					<span></span>
				</div>
				<!-- =========    SIDEBAR START    ======== -->
				<div class="sidebar">
					<nav>
						<!-- MENU -->
						<ul id="navbar" role="tablist">
							<li class="active">
								<a href="#home" aria-controls="home" role="tab" data-toggle="tab">
									<i class="fa fa-home"></i>
								</a>
							</li>
							<li>
								<a href="#about" aria-controls="about" role="tab" data-toggle="tab">
									<i class="fa fa-address-card-o"></i>
								</a>
							</li>
							<li>
								<a href="#resume" aria-controls="resume" role="tab" data-toggle="tab">
									<i class="fa fa-book"></i>
								</a>
							</li>
							<li>
								<a href="#services" aria-controls="services" role="tab" data-toggle="tab">
									<i class="fa fa-desktop"></i>
								</a>
							</li>
							<li>
								<a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">
									<i class="fa fa-comments-o"></i>
								</a>
							</li>
						</ul>
						<!-- SOCIAL ICONS -->
						<div class="social text-center">
							
							<a href="https://www.facebook.com/people/Vishal-Sadriya/100007780390061" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
							
							<a href="https://twitter.com/vishalsadriya2" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
							
							<a href="https://in.linkedin.com/in/vishal-sadriya-42b83a80" target="_blank">
								<i class="fa fa-linkedin"></i>
							</a>
							
						</div>
					</nav>
				</div>
				<!-- =========    SIDEBAR END    ======== -->
				<div class="right-area tab-content">
					<!-- =========    HOME PAGE START    ======== -->
					<section class="home-page tab-pane fade in active" id="home">
						<div class="home-background">
							
							<div class="home-overlay" id="particles-overl">
								<div class="middle-c">
									<div class="middle-l text-center">
										<div class="m-content">
											<h1>I lOVE TO CODE</h1>
											<h3>I am a <span></span></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- =========    HOME PAGE END    ======== -->
					<!-- =========    ABOUT PAGE START    ======== -->
					<section class="page-content tab-pane fade" id="about">
						<div class="p-container">
							<!-- ABOUT TITLE -->
							<div class="title">
								<h2>About Me <span>Artist, Thinker, Creative Doer</span></h2>
							</div>
							<!-- AVATAR IMAGE -->
							<div class="col-md-5 about-img">
								<%= image_tag '2bbd7712ed1d90007edb7313496018e0.jpg' %>
							</div>
							<!-- ABOUT CONTENT -->
							<div class="col-md-7 about-content">
								<h2>I am Ruby on Rails Developer at <%= link_to "Techplus Software","https://www.techplussoftware.com/" %> .</h2>
								<p>
									- I have 2+ years of experience in Ruby on Rails with MVC, Bootstrap, JQuery, JavaScript including front-end frameworks like angular-2 and react js.
									<br />

									- I have master degree in Computer Science.
									<br />
									- Brief experience of HTML 5, Theme integration in rails, CSS3 , AJAX , JSON , Jquery.
									<br />
									- I have experience of develop flexible API which can be reusable .
									<br />
									- Full stack web developer.
									<br />
									- Brief knowledge of git. know to manage project on git and bitbucket .
									<br />
									- All kind of 3rd party api integration for ex. (Facebook, Google , twitter etc.)
									<br />
									- Used gems like devise, cancancan, active_model_serializers , Doorkeeper, OmniAuth, Paperclip, pg, mysql 2, whenever, pry etc.
									<br />
									Thanks for reaching out!</p>
							</div>
							<div class="clear"></div>
							<!-- ABOUT INFO -->
							<div class="info col-md-5">
								
								<div class="small-title">
									<h4>Personal Information</h4>
								</div>
								<ul>
									<li class="col-md-12">
										<span class="i-title">Name</span>
										<span class="value">Vishal SadRiya</span>
									</li>
									<li class="col-md-12">
										<span class="i-title">Age</span>
										<span class="value">23 Years</span>
									</li>
									<li class="col-md-12">
										<span class="i-title">Experience</span>
										<span class="value">+2 Years</span>
									</li>
									<li class="col-md-12">
										<span class="i-title">Email</span>
										<span class="value">
											<a href="mailto:vishalsadriya1224@gmail.com">vishalsadriya1224@gmail.com</a>
										</span>
									</li>
									<li class="col-md-12">
										<span class="i-title">Phone</span>
										<span class="value">(+91) 97 22 840 530 </span>
									</li>
								</ul>
							</div>
							<!-- ABOUT SKILLS -->
							<div class="about-skills col-md-7">
								<div class="small-title">
									<h4>Professional Skills</h4>
								</div>
								
								<ul>
									
									<li>
										<span>Ruby On Rails</span>
										<div class="progress">
											<div class="progress-bar" data-percent="80" style="width: 80%;" >
												<span>80%</span>
											</div>
										</div>
									</li>
									<li>
										<span>Ruby</span>
										<div class="progress">
											<div class="progress-bar" data-percent="70" style="width: 70%;">
												<span>70%</span>
											</div>
										</div>
									</li>
									<li>
										<span>JavaScript & jQuery</span>
										<div class="progress">
											<div class="progress-bar" data-percent="70" style="width: 70%;">
												<span>70%</span>
											</div>
										</div>
									</li>
									<li>
										<span>MySQL & Postgres</span>
										<div class="progress">
											<div class="progress-bar" data-percent="60" style="width: 60%;">
												<span>60%</span>
											</div>
										</div>
									</li>
									<li>
										<span>Git & Bitbucket</span>
										<div class="progress">
											<div class="progress-bar" data-percent="65" style="width: 65%;">
												<span>65%</span>
											</div>
										</div>
									</li>
									<li>
										<span>Amazon Web Services</span>
										<div class="progress">
											<div class="progress-bar" data-percent="40" style="width: 40%;">
												<span>40%</span>
											</div>
										</div>
									</li>
								</ul>
							</div>
							
							<div class="clear"></div>
						</div>
					</section>
					<!-- =========    ABOUT PAGE START    ======== -->
					<!-- =========    RESUME PAGE START    ======== -->
					<section class="resume page-content tab-pane fade" id="resume">
						<div class="r-container">
							<!-- RESUME TITLE -->
							<div class="title">
								<h2>Resume <span>2+ Years of Experience</span></h2>
							</div>
							<div class="education col-md-6">
								<div class="column-right">
									<span class="icon"><i class="fa fa-book" aria-hidden="true"></i></span>
									<!-- EDUCATION TIME LINE ITEM -->
									<div class="item">
										<h6 class="sm-titl">Master of Compuer Science.</h6>
										<span class="date">2014 - 2016</span>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
									<!-- EDUCATION TIME LINE ITEM -->
									<div class="item">
										<h6 class="sm-titl">Bachler of Compuer Science.</h6>
										<span class="date">2011 - 2014</span>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>

								</div>
							</div>
							<div class="working col-md-6">
								<div class="column-left">
									<span class="icon"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
									<!-- WORKING TIME LINE ITEM -->
									<div class="item">
										<h6 class="sm-titl">Ruby on Rails  Developer - TechPlus Software.</h6>
										<span class="date">May 2016 - Present</span>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
									<!-- WORKING TIME LINE ITEM -->
									<div class="item">
										<h6 class="sm-titl">Ruby on Rails Trainee - TechPlus Software.</h6>
										<span class="date">Jan 2016 - April 2016</span>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<!-- TESTIMONIALS -->
						<div class="testimonials">
							<div class="testimonials-overlay">
								<div class="owl-carousel owl-theme">
									<!-- CLIENT ITEM -->
									<div class="t-item">
										<div class="testimonial-box col-md-8 col-xs-10">
											<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
											<!-- TESTIMONIAL NAME -->
											<h3>Jessi Walsh<span>Manager @ Company</span></h3>
										</div>
									</div>
									<!-- CLIENT ITEM -->
									<div class="t-item">
										<div class="testimonial-box col-md-8 col-xs-10">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus. </p>
											<!-- TESTIMONIAL NAME -->
											<h3>Frank Rouse<span>Designer @ Company</span></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- =========    RESUME PAGE START    ======== -->
					<!-- =========    SERVICES PAGE START    ======== -->

					<section class="page-content tab-pane fade" id="services">
						<div class="p-container">
							<!-- PORTFOLIO TITLE -->
							<div class="title">
								<h2>Services <span>My Services</span></h2>
							</div>
							<div class="services">
								<ul>
									<!-- SERVICE BOX 1 -->
									<li class="col-md-6">
										<div class="service-box">
											<div class="service-icon">
												<i class="fa fa-code"></i>
											</div>
											<div class="service-content">
												<h3>Web Development</h3>
												<p>Whether your business is small or big web site is always a way to express your self and it's your first impression, my experienced and knowledge will craft a unique identity for your company.</p>
											</div>
										</div>
									</li>
									<!-- SERVICE BOX 2 -->
									<li class="col-md-6">
										<div class="service-box">
											<div class="service-icon">
												<i class="fa fa-wordpress"></i>
											</div>
											<div class="service-content">
												<h3>REST API Development</h3>
												<p>The REST APIs are for developers who want to integrate Confluence into their application and for administrators who want to script interactions with the Confluence server.</p>
											</div>
										</div>
									</li>
									<!-- SERVICE BOX 3 -->
									<li class="col-md-6">
										<div class="service-box">
											<div class="service-icon">
												<i class="fa fa-user-o"></i>
											</div>
											<div class="service-content">
												<h3>E-commerce</h3>
												<p>While online shopping has become a common activity for many consumers, then security is one that customer always concern about. I will help you to create most secure and trusty e-commerce platform.</p>
											</div>
										</div>
									</li>
									<!-- SERVICE BOX 4 -->
									<li class="col-md-6">
										<div class="service-box">
											<div class="service-icon">
												<i class="fa fa-support"></i>
											</div>
											<div class="service-content">
												<h3>Deployment</h3>
												<p>Deployment is not just about to go live and make servises to public but its a responsibility to handle load and security. That what I will provide you most.</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="clear"></div>
						</div>
					</section>
					<!-- =========    SERVICES PAGE END    ======== -->
					<!-- =========    CONTACT PAGE START    ======== -->
					<section class="page-content tab-pane fade" id="contact">
						<div class="p-container">
							<!-- BLOG PAGE TITLE -->
							<div class="title">
								<h2>Contact <span>Get in Touch</span></h2>
							</div>
							<div class="form-col col-md-7">
								<div class="contact-area">
									<%= form_with url: send_mail_path, local: true do %>
										<div class="form-group col-md-12">
											<%= text_field_tag :name, nil, placeholder: "Name *", required: true %>
										</div>
										<div class="form-group col-md-12">
											<%= email_field_tag :email, nil, placeholder: "Email *", required: true %>
										</div>
										<div class="form-group col-md-12">
											<%= text_area_tag :message, nil, placeholder: "Message *", rows: 4, required: true %>
										</div>
										<div class="clear"></div>
										<div class="form-group col-sm-12">
											<%= submit_tag "Send Message",class: "button disabled" %>
										</div>
									<% end %>
								</div>
							</div>
							<div class="info-col col-md-5">
								<div class="contact-info">
									<div class="small-title">
										<h4>Get in Touch</h4>
									</div>
									<div class="item">
										<i class="fa fa-phone"></i>
										<h6 class="sm-titl">Phone :<br> <span>+91 97 22 840 530</span></h6>
									</div>
									<div class="item">
										<i class="fa fa-envelope-o"></i>
										<h6 class="sm-titl">Email :<br> <span>vishalsadriya1224@gmail.com</span></h6>
									</div>
									<!-- social Icon -->
									<div class="social-icon">
										<a href="https://www.facebook.com/people/Vishal-Sadriya/100007780390061">
											<span><i class="fa fa-facebook" aria-hidden="true"></i></span>
										</a>
										<a href="https://twitter.com/vishalsadriya2">
											<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
										</a>
										<a href="https://www.instagram.com/i.m_vishal/">
											<span><i class="fa fa-instagram" aria-hidden="true"></i></span>
										</a>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</section>
					<!-- =========    CONTACT PAGE END    ======== -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- =========    END CONTAINER    ======== -->