<div class="site_wrapper bg_white">
  <section id="home" class="section_scroll welcome_area" data-scroll-index="0">
    <div class="bg_overlay bg_image page_cover" style="background-image:url('/assets/2.jpg')"></div>
    <div id="particles-js"></div>
    <div class="home_wrapper_info">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="home_text_block text-center">
              <h3><span>Hello</span></h3>
              <h1 class="cd-headline clip"> <span>I am</span> <span class="cd-words-wrapper"> <b class="is-visible">Vishal</b> <b>Ror Developer</b> <b>Dreamer</b> </span> </h1>
              <ul class="expart_list">
                <li>Back end developer</li>
              </ul>
              <ul class="header_social_share">
                <li><a href="https://www.facebook.com/people/Vishal-Sadriya/100007780390061"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/vishalsadriya2"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://in.linkedin.com/in/vishal-sadriya-42b83a80"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://stackoverflow.com/users/5117953/vishal?tab=profile"><i class="fa fa-stack-overflow"></i></a></li>
                <li><a href="https://www.instagram.com/i.m_vishal/"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="scroll_indicator_wrapper"> <a href="#about" class="scroll_indicator scroll_down" data-scroll-goto="1"></a> </div>
  </section>
  <section id="about" class="section_scroll" data-scroll-index="1">
    <div class="about_area pb-110">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="about_content text-center">
              <div class="info">
                <img src="assets/rsz_2bbd7712ed1d90007edb7313496018e0.jpg" alt="about">
                <h3>Vishal Sadriya</h3>
                <h5>Web Developer</h5>
              </div>
              <p>Truth can only be found in one place: the code.</p>
              <p>
                I have done my Msc IT in 2016. I have 2+ years of experience in Ruby on Rails including front-end frameworks like angular and react js. I have deep knowledge about RAILS standalone APIs.
              </p>
              <p>
                I have experience on integrating with various popular APIs and 3rd party services, like Lightspeed, Postamates, Payment gateways, Facebook, Google, LInkedin, Sendgrid, Mailgun, Mailchip etc.
              <p>
                Coding is my passion. I love to deliver excellent applications. I always write reusable code for whole application.
              </p>
              <p>I'm not a great programmer; I'm just a good programmer with great habits.</p>
              <ul class="tag_list">
                <li>Ruby on Rails</li>
                <li>Ruby</li>
                <li>API</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>git</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="skill_area ptb-110 bg_gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="skill_list">
              <div class="single_skill">
                <h3>Ruby on Rails</h3>
                <div class="progress_bar"> <span data-percent="70"><strong>70%</strong></span> </div>
              </div>
              <div class="single_skill">
                <h3>Ruby</h3>
                <div class="progress_bar"> <span data-percent="65"><strong>65%</strong></span> </div>
              </div>
              <div class="single_skill">
                <h3>JavaScript &amp; Jquery</h3>
                <div class="progress_bar"> <span data-percent="65"><strong>65%</strong></span> </div>
              </div>
              <div class="single_skill">
                <h3>Postgres &amp; Mysql2</h3>
                <div class="progress_bar"> <span data-percent="60"><strong>60%</strong></span> </div>
              </div>
              <div class="single_skill">
                <h3>Git &amp; Bitbucket</h3>
                <div class="progress_bar"> <span data-percent="60"><strong>60%</strong></span> </div>
              </div>
              <div class="single_skill">
                <h3>Amazon Web Services</h3>
                <div class="progress_bar"> <span data-percent="40"><strong>40%</strong></span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="services_area section_scroll ptb-110" data-scroll-index="2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section_title text-center">
            <h3><span>services</span></h3>
            <h2 class="title">My <span>Services.</span></h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6">
          <div class="single_service">
            <div class="icon"> <i class="flaticon-settings"></i> </div>
            <div class="info">
              <h2>Web Development</h2>
              <p>Whether your business is small or big web site is always a way to express your self and it's your first impression, my experienced and knowledge will craft a unique identity for your company.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="single_service">
            <div class="icon"> <i class="flaticon-paper-plane"></i> </div>
            <div class="info">
              <h2>REST API Development</h2>
              <p>The REST APIs are for developers who want to integrate Confluence into their application and for administrators who want to script interactions with the Confluence server.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="single_service">
            <div class="icon"> <i class="flaticon-idea"></i> </div>
            <div class="info">
              <h2>E-commerce</h2>
              <p>While online shopping has become a common activity for many consumers, then security is one that customer always concern about. I will help you to create most secure and trusty e-commerce platform.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="single_service">
            <div class="icon"> <i class="flaticon-photo-camera"></i> </div>
            <div class="info">
              <h2>Deployment</h2>
              <p>Deployment is not just about to go live and make servises to public but its a responsibility to handle load and security. That what I will provide you most. I will help you how to manage application on live.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="fanfact_area ptb-100 funfact_bg bg_image bg_overlay" style="background-image:url('assets/bg/1.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-fanfact">
            <span class="flaticon-clock"></span>
            <h3 class="counter">2200</h3>
            <p>working hours</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-fanfact">
            <span class="flaticon-gift"></span>
            <h3 class="counter">10</h3>
            <p>completed project</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-fanfact">
            <span class="flaticon-users"></span>
            <h3 class="counter">10</h3>
            <p>Happy client</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-fanfact">
            <span class="flaticon-trophy"></span>
            <h3 class="counter">1</h3>
            <p>winner award</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="work" class="work_area section_scroll ptb-110" data-scroll-index="3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section_title text-center">
            <h3><span>portfolio</span></h3>
            <h2 class="title">Recent <span>Work.</span></h2>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-12">
          <ul class="recent_work_nav">
            <li> <a href="#" data-filter="*" class="dots_effect filter active">all<span class="dot_effect dot_hover"></span> </a> </li>
            <li> <a href="#" data-filter=".graphic" class="dots_effect filter">Graphic<span class="dot_effect dot_hover"></span></a> </li>
            <li> <a href="#" data-filter=".brand" class="dots_effect filter">Brand<span class="dot_effect dot_hover"></span></a> </li>
            <li> <a href="#" data-filter=".print" class="dots_effect filter">print<span class="dot_effect dot_hover"></span></a> </li>
            <li> <a href="#" data-filter=".web" class="dots_effect filter"> web<span class="dot_effect dot_hover"></span></a> </li>
          </ul>
        </div>
      </div> -->
      <div id="masonry" class="row justify-content-center portfolio_items_list">
        <div class="col-lg-6 col-md-6 brand grid print">
          <a href="assets/portfolio/singapore_swimming_academy.png" class="work_item">
            <div class="work_thumb"><img src="assets/portfolio/singapore_swimming_academy.png" alt="singapore swimming academy" class="img-responsive"></div>
            <div class="work_hover_mask">
              <div class="mask_container text-center">
                <h3>Singapore Swimming Academy</h3>
              </div>
              <span class="fa fa-picture-o"></span>
            </div>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 grid web">
          <a href="assets/portfolio/crowdpouch.png" class="work_item">
            <div class="work_thumb"><img src="assets/portfolio/crowdpouch.png" alt="crowdpouch" class="img-responsive"></div>
            <div class="work_hover_mask">
              <div class="mask_container text-center">
                <h3>Crowdpouch</h3>
              </div>
              <span class="fa fa-picture-o"></span>
            </div>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 grid graphic">
          <a href="assets/portfolio/my_pro_bill.png" class="work_item">
            <div class="work_thumb"><img src="assets/portfolio/my_pro_bill.png" alt="my_pro_bill" class="img-responsive"></div>
            <div class="work_hover_mask">
              <div class="mask_container text-center">
                <h3>My Pro Bill</h3>
              </div>
              <span class="fa fa-picture-o"></span>
            </div>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 grid brand print">
          <a href="assets/portfolio/cheers_on_demand.png" class="work_item">
            <div class="work_thumb"><img src="assets/portfolio/cheers_on_demand.png" alt="cheers_on_demand" class="img-responsive"></div>
            <div class="work_hover_mask">
              <div class="mask_container text-center">
                <h3>Cheers On Demand Backend API</h3>
              </div>
              <span class="fa fa-picture-o"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="client" class="testimonial_area section_scroll bg_gray ptb-110" data-scroll-index="4">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section_title text-center">
            <h3><span>client say</span></h3>
            <h2 class="title">Client <span>Testimonials.</span></h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="testimonial_carousel owl-carousel">
            <div class="single_testimonial text-center">
              <img src="assets/testimonial/01.png" alt="thumb">
              <div class="info">
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, neque. Modi consequuntur eius, quas ducimus inventore perspiciatis ut ex illo sapiente pariatur voluptatum totam, mollitia sit dignissimos rem obcaecati. Dignissimos."</p>
                <h5> <span class="recomenders-name">Jeffrey Way,</span> <span class="recomenders-role">envato+</span> </h5>
              </div>
            </div>
            <div class="single_testimonial text-center">
              <img src="assets/testimonial/02.png" alt="thumb">
              <div class="info">
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, neque. Modi consequuntur eius, quas ducimus inventore perspiciatis ut ex illo sapiente pariatur voluptatum totam, mollitia sit dignissimos rem obcaecati. Dignissimos."</p>
                <h5> <span class="recomenders-name">Jeffrey Way,</span> <span class="recomenders-role">envato+</span> </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact_area section_scroll ptb-110" data-scroll-index="6">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section_title text-center">
            <h3><span>contact</span></h3>
            <h2 class="title">Get In <span>Touch.</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="single_contact_info">
            <span class="fa fa-phone"></span>
            <div class="info">
              <h4>Phone : </h4>
              <p>+91 97 22 840 530</p>
            </div>
          </div>
          <div class="single_contact_info">
            <span class="fa fa-map-marker"></span>
            <div class="info">
              <h4>Address : </h4>
              <p>Ahmedabad, Gujarat, India</p>
            </div>
          </div>
          <div class="single_contact_info">
            <span class="fa fa-envelope"></span>
            <div class="info">
              <h4>Email : </h4>
              <p>vishalsadriya1224@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <%= form_with url: send_mail_path, class: 'form', id:'contact_form', local: true do %>
            <div class="row">
              <div class="col-md-6 pt_right">
                <div class="form-group">
                  <%= text_field_tag :name, nil, placeholder: "Name", class: 'form-controller', id: 'form_name' %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= email_field_tag :email, nil, placeholder: "Email", class: "form-controller", id: "form_email" %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= text_field_tag :subject, nil, placeholder: "Subject", class: "form-controller", id: "form_subject" %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= text_area_tag :message, nil, placeholder: "Message", class: "form-controller", id: "form_message" %>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-default btn-sumbit"><span>Send</span></button>
                <%#= submit_tag "Send",class: "btn btn-default btn-sumbit" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
<div id="section_scroller_button"> <span class="fa fa-angle-down"></span> </div>